<!DOCTYPE html>
<html lang="en">

<head>
    <title>BOOK APP</title>
</head>


<body>
    <section>

        <img src="<%=data.image_url %>" alt="<%=d ata.title %>">
        <h5>
            <%= data.title %>
        </h5>
        <h4>
            <%= data.author %>
        </h4>
        <p>
            <%= data.description %>
        </p>

    </section>


</body>


</html>